/** Style du module Gestion de Types de Services **/
#gestion_annonce{
    width: 400px;
    margin-left: 10px;

}
#table_types{
    border: 4px outset #a4aebb;
}
#UserEditForm input[type=radio],#UserEditForm label{

    display: inline-block;
    width: 5%;
}
#AnnonceAddForm input[type=radio],#UserEditForm label{

    display: inline-block;
    width: 5%;
}

.ui-widget-content .ui-icon {
    background-image: url(../img/ui-icons_222222_256x240.png);
}
.ui-widget-header .ui-icon {
    background-image: url(../img/ui-icons_222222_256x240.png);
}

noscript {
    color: red;
    font-weight: bolder;
    text-decoration: underline;
}

.noscriptHome {
    font-size: 200%;
}

@media (max-width: 1000px) {
    .params{
        /*float: right;*/
        /*position: absolute;
        */width: 300px;/*
        height: 500px;
        right: 1px;
        left: 500px;
        top: 30%;*/
        text-align: center;
    }
}

@media (min-width: 1001px) {
    .params{
        float: right;
        width: 300px;
        text-align: center;
    }
}

.img_avatar{
    width: 150px;

}
.td_avatar{
   vertical-align: middle;
    width: 300px;
}