
/** Style du module Gestion de Types de Services **/
#gestion_annonce{
    width: 400px;
    margin-left: 10px;

}
#table_types{
    border: 4px outset #a4aebb;
}
#UserEditForm input[type=radio],#UserEditForm label{

    display: inline-block;
    width: 5%;
}
#AnnonceAddForm input[type=radio],#UserEditForm label{

    display: inline-block;
    width: 5%;
}
